" Taken from https://github.com/sdaschner/dotfiles/blob/master/.ideavimrc
" which is referred to by https://www.youtube.com/watch?v=SDiKLLrUZMI

""" Ideavim plugins
set number relativenumber
set idearefactormode=keep
set ideajoin
set surround
set easymotion

""" Idea specific settings
set ideajoin
set idearefactormode=keep

""" Use systemclipboard as register
set clipboard+=unnamed

set commentary

""" Set <leader> to space
let mapleader = " "

""" Mappings
noremap <Esc> <nop>
nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>

" actions
nmap <leader>c <action>(CloseEditor)
nmap <leader>i <action>(Generate)
nmap <leader>m <action>(Git.Menu)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(ActivateProjectToolWindow)
nmap <leader>r <action>(RenameElement)

" Would be very nice if were able to make work
nmap <leader><cr> <action>(Run)

" Window management/navigation
" Remember to set <C-j> and <C-k> as handled by ideavim in intellij settings
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
"nnoremap <C-j> <C-w>j
"nnoremap <C-k> <C-w>k

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
